<section class="container">
    
    <div class="jumbotron bg-student">
        <h1>
            Your college, your choice.<br>
            Vote for SU reps 2015/16.
        </h1>
        <p class="lead">Come March 5th, you will have the opportunity to vote 12 individuals into the SU.</p>
        <p class="lead">Take the test below to see what issues are on the ballot this year, and how your opinion matches up with those of the candidates.</p>
        
        <p><button class="btn btn-success">Find your match</button></p>
    </div>
    
    <div class="row feature-nav-container">
        
        <div class="col-xs-6 col-sm-3 feature-nav-item">
            <img holder-src="holder.js/50x50">
            <h3>Why Vote</h3>
            <p>Why your voice matters.</p>
            <p class="feature-nav-button"><button class="btn btn-primary">Learn More</button></p>
        </div>
        
        <div class="col-xs-6 col-sm-3 feature-nav-item">
            <img holder-src="holder.js/50x50">
            <h3>Roadmap</h3>
            <p>What happens after candidates are elected.</p>
            <p class="feature-nav-button"><button class="btn btn-primary">Learn More</button></p>
        </div>
        
        <div class="col-xs-6 col-sm-3 feature-nav-item">
            <img holder-src="holder.js/50x50">
            <h3>Ballot Issues</h3>
            <p>What are the topics candidates are discussing this year?</p>
            <p class="feature-nav-button"><button class="btn btn-primary">Learn More</button></p>
        </div>
        
        <div class="col-xs-6 col-sm-3 feature-nav-item">
            <img holder-src="holder.js/50x50">
            <h3>Dates &amp; Places</h3>
            <p>Where and when you can vote.</p>
            <p class="feature-nav-button"><button class="btn btn-primary">Learn More</button></p>
        </div>
    </div>
    
    <div id="news-feed-area" class="row">
        <div class="col-sm-4">
            <h2>Upcoming events</h2>
            <div ng-repeat="n in [1,2,3]" class="feed-item">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="date">21 Feb<br>2pm</p>
                    </div>
                    <div class="col-sm-9">
                        <h4 class="headline">Graduate education debate</h4>
                    </div>
                </div>

            </div>
            <p id="calendar-link">See full calendar</p>
    
        </div>
        
        <div class="col-sm-4">
            <h2>Meet the candidates</h2>
            <p class="lead">There are 43 people running for 12 positions.</p>
            <p class="small">They will form 4 sabbatical officers, 7 convenors and 1 Irish language officer who will represent your needs and views as a student body.</p>
            <p><button class="btn btn-primary">Learn More</button></p>

        </div>
        <div class="col-sm-4">
            
                <h2>Facts and figures</h2>
            <div ng-repeat="n in [1,2,3]" class="fact-item">
                <p><span class="small">Days until the election</span><br>
                    <span class="big">44 days</span></p>
            </div>
        </div>
    </div>
</section>